* {
    color: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #44bef8;
    font-size: 18px;
    font-family: Barlow, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Fraunces, serif;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

.nav__list {
    align-items: center;
    display: flex;
    gap: 10px;
}

.nav__list li a {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-family: sans-serif;
    font-size: 14px;
}

.nav__list li:last-child {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    height: 40px;
    width: 110px;
}

.nav__list li:last-child a {
    background-color: transparent;
    color: hsl(198, 62%, 26%);
    font-family: Fraunces;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-section-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-section-top .footer-figure-top {
  width: 25%;
}

.footer-section-top .footer-figure-top img{
  height: 400px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.footer-section-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #91D3C5;
  
  padding-top: 40px;
}

.footer-section-bottom h2, .footer-section-bottom a{
  color: hsl(168, 34%, 41%);
}

.footer-section-bottom h2 {
  margin-bottom: 30px;
  font-family: Fraunces, serif;
  font-weight: 800;
}

.footer-section-bottom .footer-servicos-bottom {
  margin-bottom: 60px;
  display: flex;
  gap: 40px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
}
.footer-section-bottom .footer-servicos-bottom a:hover{
  color: white;
}

.footer-section-bottom .footer-icons-bottom {
  display: flex;
  gap: 25px;
  padding-bottom: 50px;
}

.footer-section-bottom .footer-icons-bottom img:hover{
  background-color: white;
}


